__pycache__/
*.pyc
*.pyo
.env
venv/
instance/
config.py
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
python/lib/python3.12/site-packages/
deployment_docs.html