{% extends "base.html" %}

{% block title %}Home - Will Robinson{% endblock %}

{% block content %}
    <div class="hero">
        <img src="{{ url_for('static', filename='images/profile.jpg') }}" alt="Will Robinson" class="profile-img">
        <h1>Hi, I'm Will</h1>
        <p class="bio">
            A results-driven IT professional with over 20 years of experience in IT Application Management, Technology Support, IT Compliance, and Production Support.  
            Skilled in managing IT assets, SaaS applications, and risk compliance while ensuring operational efficiency and regulatory adherence.  
            Expertise in infrastructure management, incident resolution, vendor management, and stakeholder engagement, with a strong focus on security and automation.  
            Experienced in **SDLC frameworks**, Agile methodologies, and cross-functional collaboration to drive successful IT projects.  
            Currently expanding my expertise in **cloud technologies**, including AWS architecture and cloud-based solutions, with a focus on designing **secure, scalable** applications.  
            My background in **Python, Flask, and IT operations** allows me to develop practical, real-world solutions that enhance automation, security, and efficiency.  
            Explore my ever evolving portfolio site to see my hands-on projects in **automation, security, cloud development, and infrastructure management** as I continue growing in this field.
        </p>       
    </div>

    
{% endblock %}

