{% extends 'base.html' %}

{% block content %}
<div class="container mt-5 pt-5">
    <h2 class="mt-4">AI Stock Search</h2>
    <p>Enter a stock symbol below to fetch the latest stock price.</p>
    
    <div class="mb-3">
        <label for="stock-symbol" class="form-label">Stock Symbol:</label>
        <input type="text" class="form-control" id="stock-symbol" placeholder="E.g., AAPL, TSLA">
        <button class="btn btn-success mt-2" id="predict-btn">Get Stock Price</button>
    </div>
    
    <div class="mt-3">
        <h4>Stock Price Result:</h4>
        <p id="stock-prediction-result" class="mt-2 text-success"></p>
    </div>
</div>
{% endblock %}
